/*background-position: center center;*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: arial;
}

.clearfix {
	clear: both;
}


/*header*/

header {
	padding-bottom: 30px;
}

/*promo bar*/

.promo-bar {
	width: 100%;
	height: 50px;
	background-color: #71F9DC;
}

.promo-bar ul {
	list-style-type: none;
	text-align: center;
}

.promo-bar ul li {
	display: inline-block;
	margin: 10px;
}

.promo-bar ul li.title {
	font-size: 20px;
	font-weight: bold;
}

.promo-bar a {
	text-decoration: none;
	color: white;
}

/*primary navigation*/

.mobile-left-nav {
	display: none;
}

.mobile-center-nav {
	display: none;
}

.mobile-right-nav {
	display: none;
}

.nav {
	width: 100%;
	height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
/*	remember:
	top + left values*/
	top: 50px;
	left: 0;
	z-index: 5;
	background-color: white;
	border-bottom: 1px solid lightgrey;
}

.nav ul {
	list-style-type: none;
}

.nav ul.left-nav {
	float: left;
	width: 20%;
}

.nav ul.left-nav li.title {
	font-weight: bold;
	margin-left: 5px;
}

.nav ul.center-nav {
	float: left;
	width: 60%;
	text-align: center;
	font-size: 14px;
}

.nav ul.center-nav li{
	display: inline-block;
	margin-right: 10px;
}

.nav ul.right-nav {
	float: left;
	width: 20%;
	text-align: right;
	font-size: 14px;
}

.nav ul.right-nav li{
	display: inline-block;
	margin-right: 5px;
}

/*sections*/

.section-wrap {
	width: 1150px;
	margin: 0 auto;
	margin-top: 50px;
}


/*section 1*/

.hero {
	width: 100%;
	height: 180px;
	background-image: url("images/UO-hero-img.jpg");
	background-size: cover;
	position: relative;
}

.hero:hover,
.hero-title-box a:hover {
	opacity: .8;
	cursor: pointer;
}

.left-hero-text {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	font-size: 16px;
}

.hero-title-box {
	width: 33.333%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 33.333%;
	color: white;
	font-size: 22px;
}

.hero-title-box h1 {
	margin-top: 60px;
	text-align: center;
}

.hero-title-box .button-wrap {
	text-align: center;
}

.hero-title-box a {
	display: inline-block;
	text-decoration: none;
	width: 100px;
	height: 25px;
	line-height: 25px;
	background-color: white;
	color: rgba(0, 0, 0, .9);
	font-size: 16px;
	margin: 5px;

}

.right-hero-text {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: white;
	font-size: 16px;
}

/*section 2*/

.hero-2 {
	width: 100%;
	height: 400px;
	margin-top: 30px;
	background-image: url('images/urban-pants-hero.jpg');
	position: relative;
}

.hero-2:hover,
.hero-2 a:hover {
	opacity: .8;
	cursor: pointer;
}

.hero-2 a {
	width: 120px;
	height: 30px;
	background-color: white;
	position: absolute;
	bottom: 20px;
	left: 50%;
	padding: 5px;
	text-decoration: none;
	margin-left: -60px;
	text-align: center;
	color: rgba(0, 0, 0, .9);
}

/*section 3*/

.section-3 {
	margin-top: 30px;
	position: relative;
}

.section-3 .col-1,
.section-3 .col-2,
.section-3 .col-3 {
	position: relative;
	float: left;
	width: calc(33.333% - 15px);
	height: 300px;
	margin: 0 7.5px;
	background-size: cover;
	background-position: center;
}

.section-3 .col-1:hover,
.section-3 .col-2:hover,
.section-3 .col-3:hover {
	opacity: .8;
	cursor: pointer;
}

.section-3 .col-1 {
	background-image: url('images/backpacks.jpg');
}

.section-3 .col-2 {
	background-image: url('images/jackets.jpg');
}

.section-3 .col-3 {
	background-image: url('images/shirts.jpeg');
}

.section-3 a {
	display: block;
	width: 100%;
}

.section-3 .section-3-button a {
	width: 150px;
	height: 30px;
	text-align: center;
	background-color: white;
	line-height: 30px;
	font-size: 16px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -75px;
	text-decoration: none;
	color: rgba(0, 0, 0, .9);
}

.section-3 .section-3-button a:hover {
	opacity: .8;
	cursor: pointer;
}

/*section 4 (womens)*/

.womens {
	width: 100%;
	margin-top: 30px;
	position: relative;
}

.womens-header hr {
	color: grey;
	margin-bottom: 15px;
}

.womens-header h1 {
	text-align: center;
} 

.womens-header a {
	position: absolute;
	top: 0;
	right: 0;
	color: grey;
}

.womens-column-wrap {
	width: 100%;
	position: relative;
}

.womens .womens-column-wrap a {
	display: block;
	width: 100%;
}

.womens .col-1,
.womens .col-2 {
	position: relative;
	float: left;
	width: calc(50% - 15px);
	height: 500px;
	margin: 0 7.5px;
}

.womens .col-1:hover,
.womens .col-2:hover {
	opacity: .9;
	cursor: pointer;
}

.womens .col-1 {
	background-image: url('images/shoes.jpeg');
	background-size: cover;
	background-position: center;
}

.womens .col-2 {
	background-image: url('images/womens-collection.jpg');
	background-size: cover;
	background-position: center;
}

.womens .womens-column-wrap .col-1 a,
.womens .womens-column-wrap .col-2 a {
	width: 150px;
	height: 30px;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	color: rgba(0, 0, 0, .9);
	background-color: white;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -75px;
}

.womens .womens-column-wrap .col-1 a:hover,
.womens .womens-column-wrap .col-2 a:hover {
	opacity: .9;
	cursor: pointer;
}

.womens-bottom-banner {
	margin-top: 30px;
	width: 100%;
	height: 200px;
	background-image: url('images/womens-bottom-banner.png');
	background-position: center;
}

.womens-bottom-banner:hover {
	opacity: .9;
	cursor: pointer;
}

/*section 5 (mens)*/
.mens {
	width: 100%;
	margin-top: 30px;
	position: relative;
}

.mens-header h1 {
	text-align: center;
}

.mens-header a {
	position: absolute;
	top: 0;
	right: 0;
	color: grey;
}

.mens-header hr {
	color: grey;
	margin-bottom: 15px;
}

.mens-column-wrap {
	width: 100%;
	position: relative;
}

.mens-column-wrap a {
	display: block;
	width: 100%;
}

.mens .col-1,
.mens .col-2 {
	position: relative;
	width: calc(50% - 15px);
	height: 500px;
	margin: 0 7.5px;
	float: left;
	background-size: cover;
	background-position: center;
}

.mens .col-1 {
	background-image: url('images/mens-jackets.jpg');
}

.mens .col-2 {
	background-image: url('images/mens-graphic-tees.jpg');
}

.mens .col-1:hover,
.mens .col-2:hover {
	opacity: .9;
	cursor: pointer;
}

.mens .col-1 a,
.mens .col-2 a {
	width: 150px;
	height: 30px;
	font-size: 14px;
	text-decoration: none;
	background-color: white;
	text-align: center;
	color: rgba(0, 0, 0, .9);
	line-height: 30px;
}

.mens .col-1 a,
.mens .col-2 a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -75px;
}

.mens .col-1 a:hover,
.mens .col-2 a:hover {
	opacity: 9;
	cursor: pointer;
}

/*bottom banner (skip apartments)*/

.bottom-banner {
	width: 100%;
	height: 100px;
	margin-top: 30px;
	background-image: url('images/bottom-banner.png');
	background-size: cover;
	background-position: center;
}

.bottom-banner:hover {
	opacity: .9;
	cursor: pointer;
}


/*footer*/

footer {
	width: 100%;
	height: 400px;
	margin-top: 50px;
	background-color: #F5F5F5;
	position: relative;
	font-size: 14px;
}

footer .footer-title {
	color: rgba(0, 0, 0, .9);
	border-bottom: 1px solid grey;
}

footer .footer-col-1,
footer .footer-col-2,
footer .footer-col-3 {
	padding: 10px;
	width: calc(15% - 15px);
	margin-right: 15px;
	float: left;
}

footer .footer-col-4 {
	padding: 10px;
	width: calc(20% - 15px);
	margin-right: 15px;
	float: left;
}

footer .footer-col-5 {
	padding: 10px;
	width: 35%;
	float: left;
}

.footer-col-5 ul.social-icons {
	padding-top: 10px;
}

.footer-col-5 ul.social-icons li {
	display: inline;
	margin: 0;
}

.footer-col-5 ul.social-icons img {
	width: 30px;
	height: 30px;
}

.footer-col-5 ul.social-icons a:hover {
	opacity: .8;
	cursor: pointer;
}


footer ul li {
	list-style-type: none;
	margin: 10px;
}

footer ul li a {
	text-decoration: none;
	color: #a9a9a9;
}

footer ul li a:hover {
	text-decoration: underline;
}

.footer-wrap {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
}

.copyright {
	font-size: 12px;
	color: grey;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.copyright ul li {
	list-style-type: none;
	display: inline;
}

.copyright .copyright-left {
	float: left;
	padding-bottom: 10px;
	/*position: absolute;
	bottom: 0;
	left: 0;*/
}

.copyright .copyright-right {
	float: right;
	padding-bottom: 10px;
/*	position: absolute;
	bottom: 0;
	right: 0;*/
}


/*tablet styles*/

@media all and (max-width: 989px) {
	.promo-bar {
		display: none;
	}

	.nav {
		width: 100%;
		top: 0;
		left: 0;
	}

	.nav .left-nav {
		display: none;
	}

	.nav ul.center-nav {
		display: none;
	}

	.nav ul.right-nav {
		display: none;
	}

	.nav ul.mobile-left-nav {
		width: calc(33.333% - 5px);
		display: block;
		float: left;
		margin-left: 5px;
	}

	.nav ul.mobile-center-nav {
		display: block;
		font-weight: bold;
		font-size: 25px;
		width: 33.333%;
		text-align: center;
		margin: 0 auto;
		float: left;
	}

	.nav ul.mobile-right-nav {
		display: block;
		float: right;
	}

	.nav ul.mobile-right-nav li {
		display: inline-block;
		margin-right: 10px;
	}

	.section-wrap {
		width: 90%;
	}

	.hero-2 {
		height: 200px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.womens-bottom-banner,
	.bottom-banner {
		background-size: contain;
		background-repeat: no-repeat;
	}
}

/*mobile styles*/
@media all and (max-width: 760px) {
	.section-wrap {
		width: 90%;
	}

	.hero {
		margin: 0;
		padding: 0;
	}

	.hero-title-box {
		top: 40px;
		font-size: 14px;
	}

	.hero-title-box h1 {
		margin-top: 0;
	}

	.left-hero-text,
	.right-hero-text {
		font-size: 12px;
	}

	.hero-2 {
		margin-top: 20px;
	}

	.hero-2 a {
		top: 50%;
		left: 50%;
	}

	.section-3 {
		display: none;
	}

	.womens {
		margin-top: 20px;
	}

	.womens .womens-header hr {
		margin: 0;
	}

	.womens .col-1 {
		width: 100%;
		float: none;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.womens .col-1 a,
	.womens .col-2 a {
		top: 50%;
		left: 50%;
	}

	.womens .col-2 {
		width: 100%;
		float: none;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 0;
		margin-bottom: 10px;
		margin-left: 0;
	}

	.womens-bottom-banner {
		width: 100%;
		height: 500px;
		padding: 0;
		margin-top: 0;
		margin-bottom: 20px;
		background-image: url('images/womens-bottom-banner-mobile.png');
		background-size: cover;
		background-repeat: no-repeat;
	}

	.mens {
		margin: 0;
	}

	.mens .mens-header hr {
		margin-bottom: 0;
	}

	.mens .col-1 {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		float: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 10px;
		margin-left: 0;
	}

	.mens .col-1 a {
		top: 50%;
		left: 50%;
	}

	.mens .col-2 {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		float: none;
		margin: 0;
		padding: 0;
	}

	.mens .col-2 a {
		bottom: 50%;
		left: 50%;
	}

	.bottom-banner {
		width: 100%;
		height: 250px;
		margin: 0;
		padding: 0;
		background-image: url('images/bottom-banner-mobile.png');
		background-size: contain;
		background-repeat: no-repeat;
	}

	footer {
		margin-top: 0;
	}

	footer li {
		display: none;
	}

	footer h4 {
		width: 100%;
	}

	footer .footer-col-1,
	footer .footer-col-2,
	footer .footer-col-3,
	footer .footer-col-4,
	footer .footer-col-5 {
		width: 100%;
		float: none;
	}

	footer .copyright-left,
	footer .copyright-right {
		width: 100%;
	}

}


